# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\LP DLIS\UE1\TP3 - Assertions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
